.wrap {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Public Sans', sans-serif;
}

h1 {
    letter-spacing: 1.5px;
}

p {
    color: #c4c4c4;
}

header {
    width: 100%;
    height: 80px;
}

.menu {
    width: 330px;
}

.menu a {
    color: #c4c4c4;
    position: relative;
}
.menu a:hover {
    color: hsl(233, 26%, 24%);
    transition: .4s;
}

.menu a::before {
    content: "";
    position: absolute;
    background: hsl(136, 65%, 51%);
    width: 100%;
    height: 3px;
    bottom: -30px;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform .4s;
}

.menu a:hover::before {
    transform-origin: 0 0;
    transform: scaleX(1);
}

.request {
    background: rgb(27, 199, 38);
    background: linear-gradient(101deg, rgba(27, 199, 38, 1) 0%, rgba(24, 209, 136, 1) 50%, rgba(14, 155, 184, 1) 100%);
    color: white;
    width: 165px;
    height: 49px;
}

.request:hover {
    opacity: .5;
    transition: .4s;
}

.imgBannerWrap {
    z-index: 1;
}

.banner {
    height: 656px;
    background-color: hsl(0, 0%, 98%);
    z-index: 1;
}

.firstImgBanner {
    top: -40%;
    right: -25%;
    z-index: 0;
}

.secondImgBanner {
    top: -18%;
    right: -9%;
    z-index: 100;
}

.leftContent {
    width: 430px;
    height: 250px;
}

.choose {
    height: 676px;
    background-color: hsl(0, 0%, 96%);
}

.chooseWrap {
    height: 470px;
}

.articles {
    height: 659px;
    background-color: hsl(0, 0%, 98%);
}

.articlesWrap {
    height: 487px;
}

.articles img {
    width: 100%;
}

.wrapCard {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

footer {
    height: 191px;
    background-color: hsl(233, 26%, 24%);
}

footer .wrap {
    height: 100%;
}

.social-icons {
    height: 100%;
}

.social-icons ul {
    height: 50%;
}

.social-icons ul i {
    transform: scale(1.5);
    color: #fff;
}

.imgBox {
    height: 50%;
}

.imgBox img {
    filter: brightness(2);
}

.link-footer {
    height: 100%;
}

.link-footer a {
    color: #fff;
}

.link-footer a:hover, .social-icons ul i:hover {
    color: hsl(136, 65%, 51%);
    transition: .3s;
}

.request-footer p {
    margin: 20px 0 -20px 0;
}

.c-scrollbar {
    z-index: 100;
}

/* MENU BURGER */

.burger {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    float: right;
}

.burger span {
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: black;
    top: 50%;
    transform: translateY(-50%);
    transition: background .4s;
}

.burger span::before, .burger span::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    transition: transform .4s, margin-top .4s;
}

.burger span::before {
    margin-top: -8px;
}

.burger span::after {
    margin-top: 8px;
}

 .active span {
    background: transparent;
}

 .active span::before {
    transform: rotate(-315deg);
    margin-top: 0;
}

 .active span::after {
    transform: rotate(315deg);
    margin-top: 0;
}

/* RESPONSIVE */

/* @media screen and (max-width: 660px) {
    header .request {
        display: none;
    }
    .burger {
        display: block;
    }
    .wrap {
        width: 95%;
        margin: 0 auto;
    }
    .menu {
        position: relative;
    }
    .menu ul {
        width: 100%;
        position: absolute;
        max-height: 0;
        overflow: hidden;
        top: 40px;
        right: 50px;
        flex-direction: column;
        align-items: center;
        background: white;
        box-shadow: 0 10px 20px rgba(34, 34, 34, 0.05);
        transition: max-height 0.4s;
        z-index: 100;
    }
    .menu ul a {
        display: inline-block;
        padding: 20px;
        color: hsl(233, 26%, 24%);
        font-weight: bold;
    }
    .menu.active ul {
        width: 100%;
        max-height: 500px;
    }
    .menu a::before, .menu a:hover::before {
        visibility: hidden;
    }
} */


/* ─── RESPONSIVE ────────────────────────────────────────── */
@media screen and (max-width: 1200px) {
.wrap {
    padding: 10px;
}
}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {
    header .request {
        display: none;
    }
    .burger {
        display: block;
    }
    .wrap {
        width: 95%;
        margin: 0 auto;
    }
    .menu {
        position: relative;
    }
    .menu ul {
        width: 100%;
        position: absolute;
        max-height: 0;
        overflow: hidden;
        top: 40px;
        right: 50px;
        flex-direction: column;
        align-items: center;
        background: white;
        box-shadow: 0 10px 20px rgba(34, 34, 34, 0.05);
        transition: max-height 0.4s;
        z-index: 100;
    }
    .menu ul a {
        display: inline-block;
        padding: 20px;
        color: hsl(233, 26%, 24%);
        font-weight: bold;
    }
    .menu.active ul {
        width: 100%;
        max-height: 500px;
    }
    .menu a::before, .menu a:hover::before {
        visibility: hidden;
    }
}
@media screen and (max-width: 480px) {

}